<!-- <!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Tomato Leaf Disease</title>
</head>
<body>
<h1>Tomato Leaf Disease Detection</h1>

<h3>Upload tomato leaf image</h3>
<form id="upload-form" action="{{ url_for('main') }}" method="POST" enctype="multipart/form-data">
<input type="file" name="file" accept="image/*" >
    <input type="submit" value="Upload!">
    </form>

</body>
</html> -->

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Tomato Leaf Disease</title>

    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet">

</head>

<body>

<div class="center" >
    <legend class="text-center" style="margin-top:5%; color: black; font-family: cursive;"> Tomato Plant Leaf Disease Detection System: </legend>
    
    <form action="{{ url_for('main') }}" class="" style="width:60%; margin-left:20%; margin-top:5%;" method="POST" enctype="multipart/form-data">
 
        <div class="row col-md-12">

            <div class="row col-md-6 center" style="width:30%;">
                <form id="upload-form" action="{{ url_for('main') }}" method="POST" enctype="multipart/form-data">
                    <img src="{{ url_for('static', filename='tomatoleaf.JPG') }}" alt="Image not loading" width="256" height="256" style="float:right;">
                </form>
            </div>

            <div class="row col-md-6" style="width:30%;">
                <form id="upload-form" action="{{ url_for('main') }}" method="POST" enctype="multipart/form-data">
                    <input type="file" name="file" accept="image/*" ><br><br><br><br>
                    <input type="submit" value="Upload!"  >
                </form>
            </div>
       
        </div>

    </form>

    <legend style="width:60%;margin-left:20%;margin-right:20%;"></legend>

    <form action="" class="" style="width:60%; margin-left:20%;margin-right:20%; margin-top:3%;">

        <div class="row">
            <div class="row col-md-3" style="width:30%;">
                <p><b>Health Status Diagnized  :</b> <textarea name="" class="form-control" id="" cols="30" rows="2">{{result}}</textarea></p>
            </div>

            <div class="row col-md-7" style="margin-left:1%;width: 72%;">
                <p><b>Accuracy  :</b><textarea name="" class="form-control" id="" cols="30" rows="2">{{prob}}</textarea> </p>
            </div>

        </div>

        <div class="row">
            <p><b>Solution  :</b><textarea name="" class="form-control" id="" cols="30" rows="10">{{solution}}</textarea> </p>
        </div>
    </form>

</div>

</body>
</html>